p {
    max-width: 300px;
    word-wrap: break-word;
}

.wrapper {
    margin-top: 1rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
    overflow: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
}

.card_name {
    padding: 0.5rem 0;
    text-align: left;
}

.card_content {
    height: auto;
    width: 100%;
    text-align: left;
}

.card_description {
    padding: 1rem 0 0 0;
}

.btn {
    font-family: inherit;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
}

.name {
    width: 300px;
}

textarea {
    width: 300px;
    resize: none;
}

.form_child_2 {
    flex-basis: 150px;
    flex-grow: 1;
}

.price {
    margin-left: 7px;
}

.submit_button {
    padding: 8px 10px;
    margin-top: 5px;
}